#Occurrences input.loading{
	background-image: url('/framework/admin/images/throbber.gif'), linear-gradient(#eaeaea, #ffffff 10%);
	background-position: right 10px center, center;
	background-size: auto, 100%;
	background-repeat: no-repeat, no-repeat;
}

.key-item{
	padding: 5px;
}

.key-block{
	width: 20px; 
	height: 20px; 
	display: inline-block; 
	vertical-align: middle;
}

.key-text{
	display: inline-block; 
	vertical-align: middle;  
	position: relative; 
	top: 1px; 
}

