td.ss-gridfield-highlight span.ui-icon-alert {
	background-image: url("../../framework/thirdparty/jquery-ui-themes/smoothness/images/ui-icons_cd0a0a_256x240.png");
}
td.ss-gridfield-highlight span.ui-icon-info {
	background-image: url("../../framework/thirdparty/jquery-ui-themes/smoothness/images/ui-icons_2e83ff_256x240.png");
}
td.ss-gridfield-highlight span.ui-icon-master {
	background-image: none;
	background-color: #0074C6;
}
td.ss-gridfield-highlight span.ui-icon-clone {
	background-image: none;
	background-color: #72ADD7
}
td.ss-gridfield-highlight span.ui-icon- {
	background-image: none;
}